@use 'global-vars.scss';

.bodyText {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.appContainer {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.navContainer {
  width: 100%;
  flex: none;
}

.tabContainer {
  flex-grow: 1;
  position: relative;
  padding: 1.5rem;
}

@media only screen and (min-width: global-vars.$desktop-width) {
  .appContainer {
    flex-direction: row;
    overflow: hidden;
  }

  .navContainer {
    width: 16rem;
  }

  .tabContainer {
    overflow-y: auto;
    padding: 3rem;
  }
}
