@use 'global-vars.scss';

.pageCanvas {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.pageContainer {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  max-width: 400px;
  flex-direction: column;
  padding: 1rem;
}

.pageHeading {
  display: flex;
  height: 5rem;
  width: 100%;
  align-items: flex-end;
  border-radius: 0.5rem;
  background-color: rgb(0 112 243 / 1);
  padding: 0.75rem;
}

.loginForm {
  margin-top: 0.625rem;
  margin-bottom: 0;
}

.loginContainer {
  flex: 1 1 0%;
  border-radius: 0.5rem;
  background-color: rgb(249 250 251 / 1);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
  padding-top: 2rem;
  margin-top: 0.75rem;
  margin-bottom: 0;
}

.loginHeading {
  margin-bottom: 0.75rem;
  font-size: 1.5rem;
  line-height: 2rem;
}

.loginContent {
  width: 100%;
}

.loginButtonIcon {
  display: block;
  vertical-align: middle;
  margin-left: auto;
  height: 1.25rem;
  width: 1.25rem;
  color: rgb(249 250 251 / 1);
}

@media only screen and (min-width: global-vars.$desktop-width) {
  .pageContainer {
    margin-top: -8rem;
  }

  .pageHeading {
    height: 9rem;
  }
}
