.pageContainer {
  width: 100%;
}

.pageHeading {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.headingText {
  font-size: 1.5rem;
  line-height: 2rem;
}
