.errPage {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.errHeading {
  text-align: center;
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

.retryButton {
  margin-top: 1rem;
}
